@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

.background-image {
  position: relative;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(./images/pexels-souvenirpixels-417074.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  width: 100%;
}

.background-image h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color: #404040;
  font-size: 3rem;
  text-shadow: 2px 2px 5px rgba(119, 119, 119, 0.5);
}

.user-profile-settings {
  background-color: #ffffff;
  border-radius: 20px;
  width: 80%;
  height: 105vh;
  margin: 8rem auto;
  box-shadow: 2px 2px 10px 2px rgba(170, 170, 170, 0.5);
}

.user-bg{
  position: relative;
  background-image: url(./images/user-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 210px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.user-bg #file-upload{
  position: absolute;
  top: 10%;
  left: 90%;
  z-index: 1;
  opacity: 0;
}

.user-bg #upload-btn{
  position: absolute;
  top: 8%;
  left: 90%;
  height: 30px;
  width: 30px;
  padding: 1em 0.7em;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
  transform: translateX(-90%);
}

.user-pic img {
  width: 100%;
  height: 100%;
}

.user-pic {
  position: absolute;
  top: 62%;
  left: 16%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 10rem;
  object-fit: cover;
  margin: 2rem auto;
}

#file-upload {
  position: absolute;
  top: 62%;
  left: 17%;
  z-index: 1;
  opacity: 0;
}

#upload-btn {
  position: absolute;
  top: 62.5%;
  left: 15%;
  height: 30px;
  width: 30px;
  padding: 1em 0.7em;
  border-radius: 50%;
  cursor: pointer;
  color: #ffffff;
  transform: translateX(-90%);
  margin-left: 100px;
  background-color: rgba(173, 172, 173, 0.801);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.644);
}

#upload-btn i {
  font-size: 1.67rem;
}

.row{
  margin: 1.5rem 15rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

.row label {
  color: #404040;
  font-size: 1.4rem;
  margin-right: 1rem;
  font-weight: 500;
}

.row-1{
  margin: 0 15rem 0 15rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
  padding: .8rem 2rem;
}

.col-1{
  grid-column: 1;
}

.row-1 label {
  color: #404040;
  font-size: 1.4rem;
  font-weight: 500;
}

.row-1 input {
  margin-top: .5rem;
  background-color: #ffffff;
  width: 100%;
  padding: 1rem;
  border-radius: 1.5rem;
  border: 1px solid #dcdcdc;
  outline: none;
  font-size: 1.2rem;
  box-shadow: 2px 2px 2px rgba(93, 93, 93, 0.4);
}

.row textarea{
  background-color: #ffffff;
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #dcdcdc;
  outline: none;
  font-size: 1.2rem;
  resize: vertical;
  box-shadow: 2px 2px 2px rgba(93, 93, 93, 0.4);
}

button{
  background-color: #000ed1;
  color: #ffffff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 2rem 50rem;
  box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.644);
  transition: background-color 0.3s ease;
}

/* .col-1{
  flex: 0 0 50%;
} */
